/* Color Variables */

:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 23.4375rem;
    height: 16.75rem;
    margin: 0 auto;
    padding: 0;
    background-color: var(--paleBlue);
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    width: 100%;
    max-width: 20.4375rem;
    height: 35.4375rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1.375rem;
}

.main_img {
    width: 100%;
    max-width: 20.4375rem;
    height: 10rem;
    margin-bottom: 0.75rem;
    border-top-left-radius: 1.375rem;
    border-top-right-radius: 1.375rem;
}

.text_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary_title {
    font-weight: 900;
    font-size: 1.375rem;
    color: var(--darkBlue);
}

.summary_description {
    width: 76%;
    margin: 0 auto;
    padding-bottom: 1.4375rem;
    position: relative;
    top: 0.125rem;
    color: var(--desaturatedBlue);
    line-height: 1.7;
    font-size: 0.9375rem;
    font-weight: 500;
}

.product_cart {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 17.375rem;
    height: 5.0625rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.6875rem;
    position: relative;
    top: 0.125rem;
    background-color: var(--veryPaleBlue);
    border-radius: 1.125rem;
}

.icon {
    width: 3.0625rem;
    height: 3.0625rem;
    margin-left: 1rem;
}

.product_name-price {
    font-size: 0.875rem;
    color: var(--desaturatedBlue);
    line-height: 1.5;
    position: relative;
    left: -0.9375rem;
}

.bold_text {
    color: var(--darkBlue);
    font-weight: 900;
    font-size: 0.875rem;
}

.product_change {
    font-size: 0.8125rem;
    font-weight: 700;
    margin-right: 1rem;
    color: var(--brightBlue);
    text-underline-offset: 1px;
    transition: 150ms ease-in-out;
}

.product_change:hover {
    color: #766CF1;
    text-decoration: none;
}

.buttons_container {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 17.375rem;
    margin-left: 1.5rem;
}

.button_payment {
    width: 100%;
    height: 3.125rem;
    margin-bottom: 1.4375rem;
    padding-top: 0.875rem;
    background-color: var(--brightBlue);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 0.9375rem;
    border: none;
    border-radius: 0.6875rem;
    text-align:center;
    text-decoration: none;
    box-shadow: 1px 6px 26px -9px var(--brightBlue);
    transition: background-color 150ms ease-in-out;
}

.button_payment:hover {
    background-color: #766CF1;
}

.button_cancel {
    border: none;
    background-color: white;
    color: var(--desaturatedBlue);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 0.9375rem;
    text-align: center;
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.button_cancel:hover {
    color: var(--darkBlue);
}

/* Media Query */

/* Large devices(laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        
    } 
    
    .main {
        max-width: 28.125rem;
        height: 43.5625rem;
    }

    .main_img {
        max-width: 28.125rem;
        height: 13.75rem;
    }

    .summary_title {
        font-size: 1.75rem;
        position: relative;
        top: 0.5625rem;
    }

    .summary_description {
        font-size: 1.03125rem;
        line-height: 1.6;
        top: 0.375rem;
    }

    .product_cart {
        max-width: 22.125rem;
        height: 6.125rem;
        margin-left: 3.0625rem;
        margin-right: 3.0625rem;
    }

    .icon {
        position: relative;
        left: 0.3125rem;
    }

    .product_name-price {
        font-size: 1.03125rem;
        left: -2.5rem;
        line-height: 1.6;
    }

    .bold_text {
        font-size: 1.03125rem;
        font-weight: 700;
    }

    .product_change {
        font-size: 0.875rem;
        position: relative;
        left: -0.6875rem;
    }

    .buttons_container {
        max-width: 22.125rem;
        margin-left: 3.0625rem;
        position: relative;
        top: 0.5rem;
        left: -0.125rem;
    }

    .button_payment {
        max-width: 22.125rem;
    }

    .button_cancel {
        position: relative;
        top: 0.5rem;
        left: -0.0625rem;
    }
}